body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
}

.skip-color {
    color: tomato;
}

.first-section {
    display: flex;
    margin-bottom: 10px;
}

.first-section img {
    width: 80%;
    height: 80%;
}

.half-width {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
}

.letter-style {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    color: #575757;
}

.paragraph {
    margin-top: 40px;
    margin-bottom: 49px;
}

.link-style {
    text-decoration: none;
    background: linear-gradient(88.33deg, #FBA24F -7.64%, #FF1E1E 145.94%);
    box-shadow: 0px 2px 30px rgba(252, 143, 73, 0.5);
    border-radius: 100px;
    padding: 10px 32px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
    /* or 23px */


    /* #FFFFFF */

    color: #FFFFFF;

}

.background-image {
    background-image: url(images/shapes/7.png);
}

.text-center {
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
}

.image-height {
    margin: 5%;
    width: 530px;
    height: 308px;

}

.margin-text {
    margin: 30px;
}

.shadow-image {
    background: #FFFFFF;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    width: 610px;
    height: 562px;

}

.subscribers {
    text-align: center;
    line-height: 26px;
    width: 302px;
    height: 26px;
}

.line-space {
    margin-top: 8px;
}

footer {
    margin-top: 150px;
    text-align: center;
    background-color: #0B0D17;
    color: white;
    Width: auto;
    Height: 100px;
    padding: 50px;
}